$primary-color: #f28c38;
$border-color: #eeecec;
$shadow-color: rgba(0, 0, 0, 0.1);
$secondary-color: #ff6911;
$background-light: #ffefe4;

.all-member-container {
  border-radius: 20px;
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__summary {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;

    h4 {
      font-weight: 600;
    }
    span {
      font-weight: bold;
      color: $secondary-color;
    }
  }
  * {
    box-sizing: border-box;
  }
}

// Main grid component
.all-member__grid {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding-block: 15px;
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
  %grid-row-styles {
    display: grid;
    grid-template-columns: 50px 2fr 1.5fr 100px 50px;
    align-items: center;
    gap: 1rem;
  }

  &-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  &-header {
    @extend %grid-row-styles;
    font-weight: 600;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid $border-color;
    h5 {
      font-size: 1.125rem;
    }
    h5:nth-of-type(1) {
      grid-column: 2;
    }
    h5:nth-of-type(2) {
      grid-column: 3;
    }
    h5:nth-of-type(3) {
      grid-column: 4;
    }
  }
  &-body {
    font-size: 1.125rem;
    font-weight: 600;
    overflow-y: auto;
    max-height: 400px;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: darken($border-color, 10%);
      border-radius: 10px;
    }
  }
  &-row {
    @extend %grid-row-styles;
    background-color: $background-light;
    border-radius: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    h5 {
      margin: 0;
      font-weight: 500;
    }

    &__number {
      background-color: #f48a4c;
      color: #fff;
      font-weight: bold;
      text-align: center;
      border-radius: 8px;
      font-size: 1.125rem;
      aspect-ratio: 1;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__action-icon {
      width: 30px;
      height: 30px;
      background-color: #e0e0e0;
      border-radius: 50%;
      justify-self: center;
    }
  }
}
