body {
  font-family: 'Baloo 2', sans-serif !important;
}
* {
  padding: 0;
  margin: 0;
}
.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
img {
  max-width: 100%;
  display: block;
}
