body {
  font-family: 'Baloo 2', sans-serif;
  box-sizing: border-box;
}
.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
img {
  max-width: 100%;
  display: block;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  border-top: 1px solid #f27b36;
  border-bottom: 1px solid #f27b36;
}
.ant-table-tbody > tr.ant-table-row:hover > td:first-child {
  border-left: 1px solid #f27b36;
}
.ant-table-tbody > tr.ant-table-row:hover > td:last-child {
  border-right: 1px solid #f27b36;
}
