body {
  font-family: 'Baloo 2', sans-serif !important;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
img {
  max-width: 100%;
  display: block;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
