$primary-color: #f28c38;
$border-color: #dfdddd;
$shadow-color: rgba(0, 0, 0, 0.1);
$secondary-color: #ff6911;
$background-light: #ffefe4;

.create-compet-admin {
  border: 2px solid $border-color;
  box-shadow: 0 4px 8px $shadow-color;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__back-icon {
    font-size: 24px;
    color: $secondary-color;
    cursor: pointer;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;

    &-item {
      padding: 5px 10px;
      border-bottom: 1px solid #eee;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background-color: $secondary-color;
        color: #fff;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__create-button {
    padding: 5px 10px;
    background-color: $background-light;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    border-radius: 20px;
    cursor: pointer;
  }

  &__context {
    border: 2px solid $border-color;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;

    &-title {
      display: flex;
      gap: 10px;
      align-items: center;
      i {
        background-color: #f26522;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 50%;
        width: 16px;
        aspect-ratio: 1;
      }
    }

    &-enter {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      &__left {
        display: flex;
        flex-direction: column;

        gap: 10px;
        width: 45%;

        &-time {
          display: flex;
          gap: 4rem;
          div {
            display: flex;
            flex-direction: column;

            input {
              padding: 5px 15px;
              border: 2px solid $border-color;
              border-radius: 20px;
            }
          }
        }

        span {
          color: #989898;
          font-weight: 700;
        }

        input {
          padding: 5px 15px;
          border: 2px solid $border-color;
          border-radius: 20px;
        }
        &-upload {
          width: 100%;
          min-height: 150px;
          background-color: #bcbaba;
          color: #5d5c5c;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          cursor: pointer;
          span {
            color: #5d5c5c;
          }

          &-preview {
            width: 100%;
            background-repeat: no-repeat;
          }
        }

        &-textarea {
          width: 100%;
          height: 50px;
          border-radius: 5px;
          border: 2px solid $border-color;
          padding: 10px;
          box-sizing: border-box;
          resize: vertical;
          font-family: 'Baloo 2', sans-serif !important;
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 45%;

        span {
          color: #989898;
        }

        input,
        select {
          padding: 5px 15px;
          border: 2px solid $border-color;
          border-radius: 20px;
        }
        select {
          option {
            border-bottom: 1px solid black;
            transition: all 0.2s;
            &:hover {
              color: #f28c38;
            }
          }
        }

        &-textarea {
          height: 70%;
          width: 100%;
          border-radius: 5px;
          border: 2px solid $border-color;
          padding: 10px;
          box-sizing: border-box;
          resize: vertical;
        }
      }
    }
    &-content {
      padding: 10px;
      label {
        color: #989898;
      }
      #content {
        width: 100%;
        min-height: 120px;
        border-radius: 5px;
        border: 2px solid #dfdddd;
        padding: 10px;
        box-sizing: border-box;
        resize: vertical;
      }
    }

    &-button {
      display: flex;
      justify-content: end;
      gap: 20px;
      width: 100%;

      button {
        padding: 5px 20px;
        background-color: #f26522;
        color: #fff;
        border: 2px solid #f26522;
        cursor: pointer;
        border-radius: 20px;
      }
      button:hover {
        background-color: #ffefe4;
        color: #f26522;
      }
    }
  }
}
